*{
  margin: 0;
  padding: 0;
}
.container{
  position: absolute;
  border: 2px solid none;
  border-left: 5px solid rgba(99, 185, 224,0.7);
  border-right: 5px solid rgba(255, 255, 255, 0.7);
  width: 50%;
  right: 25%;
  height: 30%;
  left: 25%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.image{
  width: 100%;
  height: 100%;
  border: 2px solid none;
  border-radius: 7px;
  object-fit: contain;    
}
.slidebar{
  border: 2px solid none;
  background-color: grey;
  opacity: 0 ;
  z-index: 1;
  width: 40%;
  height: 100%;
  position: absolute;
}
#right{
  right: 0;
  top: 0;
}
#leftbtn, #rightbtn{
  width: 100%;
  height: 100%;
  border: none;
}
h3{
  position: absolute;
   top: 45%;
   justify-content: center;
   text-align: center;
   align-items: center;
   color: white;
   font-weight: bold;
   font-stretch: expanded;
}
@media  screen and (max-width: 950px) {
  .container{
    width: 80%;
    right: 10%;
    left: 10%;
    border-left: none;
    border-right: none;
  }
}